[user]
	name = Matthew Nelson
	email = mnelson@vitalvector.com
[branch]
	autosetuprebase = always
[core]
	excludesfile = ~/.gitignore_global
[color]
	ui = true
[merge]
	tool = vimdiff
[alias]
	st = status
	ci = commit
	co = checkout
	cp = cherry-pick
	br = branch
	bl = blame -w -C -C
	di = diff
	dc = diff --cached
	amend = commit --amend
	aa = add --all
	ff = merge --ff-only
	pullff = pull --ff-only
	fa = fetch --all
	pom = push origin master
	graph = log --graph --oneline --decorate
